################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DocCollabMongo/CopilotIndices/17.12.53.23981
/.vs/DocCollabMongo/DesignTimeBuild
/.vs/DocCollabMongo/FileContentIndex
/.vs/ProjectEvaluation
/DocCollabMongoCore/obj/Debug/net8.0
/DocCollabMongoCore/bin/Debug/net8.0
